h1 {
  text-align: center;
}

body {
  margin-top: 40px;
  font-size: 14px;

  font-family: "Lato", sans-serif;
  background-color: #f0efe7;
  margin-left: 300px;
}

.container {
  margin-top: 3%;
}

button,
a:hover {
  opacity: 0.8;
}

a {
  display: inline-block;
  padding: 8px 16px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#calendar {
  width: 650px;
  margin: 0 auto;
  background-color: white;
}
